*/Dockerfile
*/.idea
*/.mvn
*/.vscode
*/target
*/node_module/*
*/frontend/generated/*
*/src/main/dev-bundle/*
*.iml

.idea/
.mvn/
target/
node_modules/
frontend/generated
src/main/dev-bundle

*.class
*.log
*.tmp



